# Do not remove or rename entries in this file, only add new ones
# See https://github.com/flutter/flutter/issues/128635 for more context.

# Miscellaneous
client/*.class
client/*.lock
client/*.log
client/*.pyc
client/*.swp
client/.DS_Store
client/.atom/
client/.buildlog/
client/.history
client/.svn/

# IntelliJ related
client/*.iml
client/*.ipr
client/*.iws
client/.idea/

# Visual Studio Code related
client/.classpath
client/.project
client/.settings/
client/.vscode/*

# Flutter repo-specific
client//bin/cache/
client//bin/internal/bootstrap.bat
client//bin/internal/bootstrap.sh
client//bin/mingit/
client//dev/benchmarks/mega_gallery/
client//dev/bots/.recipe_deps
client//dev/bots/android_tools/
client//dev/devicelab/ABresults*.json
client//dev/docs/doc/
client//dev/docs/api_docs.zip
client//dev/docs/flutter.docs.zip
client//dev/docs/lib/
client//dev/docs/pubspec.yaml
client//dev/integration_tests/**/xcuserdata
client//dev/integration_tests/**/Pods
client//packages/flutter/coverage/
client/version
client/analysis_benchmark.json

# packages file containing multi-root paths
client/.packages.generated

# Flutter/Dart/Pub related
client/**/doc/api/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/**/generated_plugin_registrant.dart
client/.packages
client/.pub-preload-cache/
client/.pub-cache/
client/.pub/
client/build/
client/flutter_*.png
client/linked_*.ds
client/unlinked.ds
client/unlinked_spec.ds

# Android related
client/**/android/**/gradle-wrapper.jar
client/.gradle/
client/**/android/captures/
client/**/android/gradlew
client/**/android/gradlew.bat
client/**/android/local.properties
client/**/android/**/GeneratedPluginRegistrant.java
client/**/android/key.properties
client/*.jks

# iOS/XCode related
client/**/ios/**/*.mode1v3
client/**/ios/**/*.mode2v3
client/**/ios/**/*.moved-aside
client/**/ios/**/*.pbxuser
client/**/ios/**/*.perspectivev3
client/**/ios/**/*sync/
client/**/ios/**/.sconsign.dblite
client/**/ios/**/.tags*
client/**/ios/**/.vagrant/
client/**/ios/**/DerivedData/
client/**/ios/**/Icon?
client/**/ios/**/Pods/
client/**/ios/**/.symlinks/
client/**/ios/**/profile
client/**/ios/**/xcuserdata
client/**/ios/.generated/
client/**/ios/Flutter/.last_build_id
client/**/ios/Flutter/App.framework
client/**/ios/Flutter/Flutter.framework
client/**/ios/Flutter/Flutter.podspec
client/**/ios/Flutter/Generated.xcconfig
client/**/ios/Flutter/ephemeral
client/**/ios/Flutter/app.flx
client/**/ios/Flutter/app.zip
client/**/ios/Flutter/flutter_assets/
client/**/ios/Flutter/flutter_export_environment.sh
client/**/ios/ServiceDefinitions.json
client/**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
client/**/Flutter/ephemeral/
client/**/Pods/
client/**/macos/Flutter/GeneratedPluginRegistrant.swift
client/**/macos/Flutter/ephemeral
client/**/xcuserdata/

# Windows
client/**/windows/flutter/generated_plugin_registrant.cc
client/**/windows/flutter/generated_plugin_registrant.h
client/**/windows/flutter/generated_plugins.cmake

# Linux
client/**/linux/flutter/generated_plugin_registrant.cc
client/**/linux/flutter/generated_plugin_registrant.h
client/**/linux/flutter/generated_plugins.cmake

# Coverage
client/coverage/

# Symbols
client/app.*.symbols

# Exceptions to above rules.
!client/**/ios/**/default.mode1v3
!client/**/ios/**/default.mode2v3
!client/**/ios/**/default.pbxuser
!client/**/ios/**/default.perspectivev3
!client//packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!client//dev/ci/**/Gemfile.lock
!client/.vscode/settings.json

../.vscode
